/* @media screen and (min-width: 576px) and (max-width: 767px){
} */
/* @media screen and (min-width: 768px) and (max-width: 991px){
} */
/* @media screen and (min-width: 992px) and (max-width: 1199px){
} */
/* @media screen and (min-width: 1200px) {
} */


/* ios query */

/* iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .main__banner-1 {
        background-position: 50% 53%;
        background-attachment: scroll;
    }
}

/* iPad */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13 Pro Max and iPhone 12 Pro Max orientation:portrait*/
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13 Pro Max and iPhone 12 Pro Max orientation: landscape*/
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13, iPhone 12 and iPhone 12 Pro orientation:portrait*/
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13, iPhone 12 and iPhone 12 Pro orientation:landscape*/
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 11 and iPhone XR orientation:portrait*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 11 and iPhone XR orientation:landscape*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 11 Pro Max and iPhone Xs Max orientation:portrait*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 11 Pro Max and iPhone Xs Max orientation:landscape*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13 mini, iPhone 12 mini, iPhone 11 Pro, iPhone Xs, and iPhone X orientation:portrait*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 13 mini, iPhone 12 mini, iPhone 11 Pro, iPhone Xs, and iPhone X orientation:landscape*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/*iPhone 7+/8+/6+/6s+ orientation: portrait*/
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/*iPhone 7+/8+/6+/6s+ orientation: landscape*/
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) and (orientation: landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 53%;
        background-attachment: scroll;
    }
}

/* iPhone 6/7/8 orientation:portrait*/
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation:portrait) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 6/7/8 orientation: landscape */
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation: landscape) {
    .main__banner-1 {
        height: 70vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}

/* iPhone 5/SE  (свой вариант)*/
@media only screen and (device-width : 320px) and (device-height : 568px) and (-webkit-device-pixel-ratio : 2) {
    .main__banner-1 {
        background-position: 50% 50%;
        background-attachment: scroll;
    }
}